In [1]:
import yfinance as yf
import numpy as np
import pandas as pd
import datetime as dt
from pandas.tseries.offsets import MonthEnd

In [2]:
# get ticket symbols for all S&P 500

In [3]:
df = pd.read_csv('S&P500.csv')

In [4]:
tickers = df['Symbol'].tolist()

In [5]:
# 2009 12 31, 2020 12 31
df_yf = yf.download(tickers, start='2009-05-01', end='2021-09-01')

[*********************100%***********************]  505 of 505 completed

2 Failed downloads:
- BRK.B: No data found, symbol may be delisted
- BF.B: None

In [6]:
df_yf

             Adj Close                                                 \
                     A        AAL         AAP        AAPL        ABBV
Date
2009-05-01   12.296722   3.780394   40.376686    3.907646         NaN
2009-05-04   12.695494   4.317756   41.661350    4.055979         NaN
2009-05-05   12.244419   4.666570   40.024590    4.075634         NaN
2009-05-06   12.571287   4.713707   40.224419    4.069184         NaN
2009-05-07   12.270568   3.742683   39.824730    3.963540         NaN
...                ...        ...         ...         ...         ...
2021-08-26  173.374115  19.900000  207.807343  147.539993  118.957817
2021-08-27  173.593842  20.219999  202.831589  148.600006  118.147644
2021-08-30  176.510208  19.510000  200.164581  153.119995  119.125778
2021-08-31  175.251785  19.940001  201.866302  151.830002  119.333267
2021-09-01         NaN        NaN         NaN         NaN         NaN

                                                                        ...  \
                   ABC        ABMD         ABT         ACN        ADBE  ...
Date                                                                    ...
2009-05-01   14.225438    6.400000   14.879172   23.016006   27.459999  ...
2009-05-04   14.536039    6.550000   15.474052   23.509315   26.690001  ...
2009-05-05   14.544325    6.560000   15.671154   23.447647   26.889999  ...
2009-05-06   14.577453    6.830000   15.384469   23.239532   26.350000  ...
2009-05-07   15.061992    6.650000   15.990102   23.170166   25.629999  ...
...                ...         ...         ...         ...         ...  ...
2021-08-26  116.809998  358.510010  124.987419  332.243622  652.390015  ...
2021-08-27  119.889999  358.529999  124.110802  334.666412  658.520020  ...
2021-08-30  119.519997  360.959991  125.455612  336.002441  665.989990  ...
2021-08-31  122.209999  363.959991  125.883965  335.563751  663.700012  ...
2021-09-01         NaN         NaN         NaN         NaN         NaN  ...

               Volume                                                \
                  XEL        XLNX         XOM       XRAY        XYL
Date
2009-05-01  2893100.0   5244900.0  27385000.0  4546500.0        NaN
2009-05-04  3355300.0   5671800.0  27306100.0  3327200.0        NaN
2009-05-05  3783400.0   9367700.0  19910300.0  1883500.0        NaN
2009-05-06  3065900.0   7521800.0  30814800.0  1868100.0        NaN
2009-05-07  3011800.0  10704000.0  32541600.0  1942800.0        NaN
...               ...         ...         ...        ...        ...
2021-08-26  1637700.0   1359600.0  11842600.0   794300.0   976600.0
2021-08-27  3287400.0   1771700.0  15817900.0  1137200.0   727600.0
2021-08-30  1642600.0   1310400.0  14086100.0  1314400.0   564400.0
2021-08-31  2696100.0   1816700.0  27104100.0  1591600.0  1088300.0
2021-09-01        NaN         NaN         NaN        NaN        NaN


                   YUM        ZBH      ZBRA        ZION        ZTS
Date
2009-05-01   6228203.0  2393100.0  345200.0   2419100.0        NaN
2009-05-04  10258764.0  2736300.0  467300.0   5366900.0        NaN
2009-05-05   8831181.0  1649200.0  739600.0   3577900.0        NaN
2009-05-06  11376572.0  2908300.0  557300.0  12796600.0        NaN
2009-05-07   8286743.0  4052700.0  367200.0  11874300.0        NaN
...                ...        ...       ...         ...        ...
2021-08-26   1541800.0  1094600.0  121100.0   1068700.0   957600.0
2021-08-27   1263000.0  1081600.0  317300.0   2410600.0   855300.0
2021-08-30   1701400.0   894600.0  175000.0   1777400.0   667800.0
2021-08-31   2297300.0  1186500.0  230100.0   1658000.0  1480600.0
2021-09-01         NaN        NaN       NaN         NaN        NaN

[3113 rows x 3030 columns]

In [7]:
prices = df_yf['Adj Close']

In [8]:
prices

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XEL,XLNX,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2009-05-01,12.296722,3.780394,40.376686,3.907646,NaN,14.225438,6.400000,14.879172,23.016006,27.459999,...,11.711297,15.640821,42.752010,24.735886,NaN,18.721672,39.587780,21.299999,9.274314,NaN
2009-05-04,12.695494,4.317756,41.661350,4.055979,NaN,14.536039,6.550000,15.474052,23.509315,26.690001,...,11.641246,16.122665,42.871441,25.936653,NaN,19.258999,40.653255,21.280001,11.127443,NaN
2009-05-05,12.244419,4.666570,40.024590,4.075634,NaN,14.544325,6.560000,15.671154,23.447647,26.889999,...,11.647614,15.770849,42.525711,26.204519,NaN,19.915106,40.203163,20.440001,11.058166,NaN
2009-05-06,12.571287,4.713707,40.224419,4.069184,NaN,14.577453,6.830000,15.384469,23.239532,26.350000,...,11.571195,15.801440,43.110306,26.333830,NaN,19.994297,40.965530,19.980000,13.941780,NaN
2009-05-07,12.270568,3.742683,39.824730,3.963540,NaN,15.061992,6.650000,15.990102,23.170166,25.629999,...,11.622140,14.799509,43.330338,26.610935,NaN,19.196774,42.517815,19.559999,13.872503,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-26,173.374115,19.900000,207.807343,147.539993,118.957817,116.809998,358.510010,124.987419,332.243622,652.390015,...,68.300003,151.070007,54.709999,60.389999,134.279999,131.399994,149.352005,578.909973,55.750000,203.776642
2021-08-27,173.593842,20.219999,202.831589,148.600006,118.147644,119.889999,358.529999,124.110802,334.666412,658.520020,...,68.699997,156.270004,55.770000,62.090000,134.940002,131.699997,149.831253,587.960022,58.549999,203.576874
2021-08-30,176.510208,19.510000,200.164581,153.119995,119.125778,119.519997,360.959991,125.455612,336.002441,665.989990,...,69.029999,155.070007,55.160000,61.279999,136.479996,130.690002,149.541702,584.780029,57.200001,205.644394
2021-08-31,175.251785,19.940001,201.866302,151.830002,119.333267,122.209999,363.959991,125.883965,335.563751,663.700012,...,68.750000,155.589996,54.520000,61.700001,136.309998,131.029999,150.210632,587.169983,57.900002,204.315979
2021-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
prices.index = pd.to_datetime(prices.index)

In [10]:
# track all monthly return
monthly_return = prices.pct_change().resample('M').agg(lambda x: (x+1).prod() -1)

In [11]:
monthly_return

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XEL,XLNX,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2009-05-31,-0.030835,-0.356609,0.003771,0.067353,0.000000,0.083093,-0.071875,0.085260,0.002344,0.026220,...,-0.067428,0.021823,0.025788,0.092606,0.000000,0.046223,0.033643,0.024883,0.279825,0.000000
2009-06-30,0.114098,-0.058139,-0.024429,0.048744,0.000000,-0.043666,0.484848,0.043942,0.117942,0.004258,...,0.088101,-0.013500,0.008075,0.046559,0.000000,-0.037251,-0.043771,0.083830,-0.154971,0.000000
2009-07-31,0.143279,0.205761,0.114245,0.147160,0.000000,0.111612,-0.149660,-0.035081,0.048117,0.145583,...,0.083107,0.060118,0.006866,0.090939,0.000000,0.069195,0.093897,0.032967,0.174740,0.000000
2009-08-31,0.105943,0.160409,-0.085010,0.029500,0.000000,0.083751,0.104000,0.005335,-0.059025,-0.030845,...,-0.009528,0.032018,-0.011616,0.011095,0.000000,-0.034123,0.016094,0.022504,0.302679,0.000000
2009-09-30,0.083723,0.382353,-0.070011,0.101897,0.000000,0.050211,0.172705,0.093743,0.129394,0.051560,...,-0.013766,0.053058,-0.007809,0.025801,0.000000,-0.014306,0.128828,0.037615,0.016402,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-31,0.033598,0.116022,-0.052108,-0.050497,0.015247,-0.046654,-0.112712,-0.028564,-0.026934,-0.007397,...,-0.005891,-0.007502,0.034597,-0.008739,0.070076,0.007948,-0.049842,0.019088,0.043336,0.021095
2021-06-30,0.070079,-0.125000,0.086739,0.099109,-0.004947,-0.002179,0.096739,-0.006172,0.044762,0.160649,...,-0.064380,0.138898,0.080692,-0.053066,0.015577,-0.041177,-0.043218,0.065265,-0.086731,0.054788
2021-07-31,0.038031,-0.039132,0.033733,0.064982,0.044003,0.067080,0.048156,0.047534,0.080690,0.061454,...,0.035975,0.035951,-0.087349,0.043946,0.049100,0.142224,0.016167,0.043419,-0.013432,0.089056
2021-08-31,0.145141,-0.021590,-0.043431,0.040930,0.038521,0.004008,0.112551,0.044553,0.059431,0.067677,...,0.007326,0.038374,-0.038645,-0.065718,0.085383,0.000983,-0.079366,0.062790,0.110259,0.009176
2021-09-30,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [12]:
past_11 = (monthly_return+1).rolling(11).apply(np.prod) - 1

In [13]:
past_11

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XEL,XLNX,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2009-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-31,0.570860,0.854629,0.337972,0.375544,0.211337,0.157103,0.178092,0.294976,0.332699,0.159128,...,0.157329,0.299168,0.406437,0.527876,0.839001,0.405895,0.417193,0.941981,0.755523,0.296613
2021-06-30,0.542043,0.907374,0.379553,0.297599,0.231838,0.161266,0.040575,0.164684,0.325183,0.318059,...,-0.019752,0.356123,0.615282,0.429280,0.662406,0.286711,0.200100,0.885984,0.678811,0.233919
2021-07-31,0.535495,0.561686,0.369798,0.135915,0.274495,0.274288,0.063455,0.121635,0.341684,0.210834,...,0.009226,0.442643,0.523128,0.483112,0.582320,0.389316,0.167392,0.928175,0.656162,0.273133
2021-08-31,0.749300,0.622457,0.332135,0.317485,0.447199,0.280847,0.313650,0.178497,0.509101,0.353302,...,0.017005,0.496854,0.703547,0.418441,0.636984,0.459987,0.110202,1.325794,1.023778,0.243871
2021-09-30,0.726482,0.767731,0.388395,0.401598,0.469531,0.292180,0.444974,0.216152,0.566140,0.484455,...,0.002192,0.314619,0.792851,0.314440,0.580251,0.428231,0.144155,1.070124,0.832500,0.295754

In [14]:
formation = dt.datetime(2011, 5, 31)

In [15]:
formation

datetime.datetime(2011, 5, 31, 0, 0)

In [19]:
# calculate profit using momentum strategy
def momentum(formation):
    end_measurement = formation - MonthEnd(1) # from last month
    return_12 = past_11.loc[end_measurement]
    return_12 = return_12.reset_index()
    # separate monthly return into ten bins
    return_12['decile'] = pd.qcut(return_12.iloc[:,1], q = 10, labels=False, duplicates='drop')
    # get top winners and losers
    winners = return_12[return_12.decile == 9]
    losers = return_12[return_12.decile == 0]
    winner_return = monthly_return.loc[formation + MonthEnd(1), monthly_return.columns.isin(winners['index'])]
    loser_return = monthly_return.loc[formation + MonthEnd(1), monthly_return.columns.isin(losers['index'])]
    # profit = winner - loser
    momentum_profit = winner_return.mean() - loser_return.mean()
    return momentum_profit, return_12

profits = []
dates = []
for i in range(12*10): # for ten years
    date = formation + MonthEnd(i)
    p, _ = momentum(date)
    profits.append(p)
    dates.append(date)
# list containing profit for each month, 10 years
profits

[0.018539338203048157,
 -0.005864519596416751,
 -0.026080651893330156,
 -0.07255624859698012,
 -0.0664298611906432,
 0.05090919044744639,
 -0.004067109551302926,
 -0.11454337607374818,
 -0.01822760927748266,
 0.02954310442779704,
 0.06765789455367768,
 0.02626059763605955,
 -0.01893750487808153,
 0.009304754595376087,
 -0.00768314211754724,
 -0.012032397577791131,
 -0.000965846881085738,
 0.022626958196542177,
 -0.006634557455259614,
 -0.011534202690959602,
 0.0014816706336171145,
 0.009875240192299316,
 -0.016670310493033337,
 0.011830390124319651,
 -0.019576418180966722,
 0.05606161301026152,
 0.0013387928147844804,
 0.06133371136736357,
 0.03447037039493852,
 0.03471690104668201,
 0.005724987032001062,
 0.02140582253985557,
 0.031180764208401275,
 -0.04004268405929106,
 -0.04359286905099599,
 0.030885670054194597,
 0.022014879167542276,
 -0.016808459027581938,
 0.013265423728492272,
 -0.012250819357688878,
 0.01462625305775639,
 0.016047638265807407,
 0.006959122666751748,
 0.04383549450352861,
 -0.04029915398316512,
 0.05482594805044877,
 -0.0828827593354943,
 0.05845218597943215,
 0.024189790396630467,
 0.08073881351800848,
 0.04170057644266964,
 0.0659422507246237,
 -0.04694646703332565,
 0.020575222535309124,
 0.038436873916851126,
 0.013803777028172204,
 -0.07295560562677258,
 -0.03430707082496863,
 -0.052094364154484755,
 0.028174040384185188,
 0.05457320052361831,
 -0.027566306202404647,
 -0.08237905515656413,
 -0.0076745883509546425,
 -0.009793365910984272,
 -0.04261803586663644,
 -0.008004545387954719,
 -0.0007892585611123798,
 0.0029500197619828986,
 0.011295777359861574,
 -0.00563532838487806,
 0.06169432082145099,
 -0.025911169689352094,
 0.013964530944239053,
 0.046595517920492435,
 -0.005410547921759441,
 0.07926973639686707,
 -0.021308778899655087,
 -0.057602707440982906,
 0.04868603839172466,
 0.05363205810414405,
 -0.007771660407915985,
 -0.02649561581271878,
 0.08445268138898708,
 -0.06452080552415314,
 -0.021260481073261974,
 0.08532020790029585,
 0.008927154402663447,
 -0.061867077634948364,
 -0.02509674944341443,
 0.02880770854163847,
 -0.054761517452505126,
 0.025463019818675263,
 0.019638765018945716,
 -0.036377078313053236,
 0.10740889138072976,
 -0.06571654664198207,
 0.028601321409219803,
 0.10381199420864998,
 -0.09737528149084261,
 -0.028405214436550516,
 -0.04339954219076945,
 -0.03280133148164114,
 0.05531888100989146,
 0.03974960841772536,
 0.1414282453661419,
 -0.12422267468911793,
 0.04634718813283072,
 -0.05900492769506807,
 0.09729271592532909,
 -0.021894954116944518,
 0.01993721344865523,
 -0.02148694473784493,
 -0.18540809205465703,
 -0.010170214306675834,
 0.0041728723824704765,
 -0.09635795241948035,
 -0.0654731119246065,
 0.019203089306524253,
 0.008171232984875956]

120

In [ ]:
# check info in a particular month
p, return_df =  momentum(formation)

In [25]:
# check info in a particular month
return_df[return_df['decile'] == 0].describe()

       2011-04-30 00:00:00  decile
count            74.000000    74.0
mean             -0.041718     0.0
std               0.084471     0.0
min              -0.453885     0.0
25%              -0.047793     0.0
50%               0.000000     0.0
75%               0.000000     0.0
max               0.000000     0.0

In [30]:
# check info in a particular month
return_df[return_df['decile'] == 9].describe()

       2011-04-30 00:00:00  decile
count            51.000000    51.0
mean              0.952800     9.0
std               0.424867     0.0
min               0.647629     9.0
25%               0.709828     9.0
50%               0.835435     9.0
75%               1.040792     9.0
max               3.129608     9.0

In [31]:
SP = yf.download('^GSPC', start=dates[0], end=dates[-1])

[*********************100%***********************]  1 of 1 completed

In [32]:
SP = SP['Adj Close']

In [33]:
SP_monthly_return = SP.pct_change().resample('M').agg(lambda x: (x+1).prod() -1)

In [34]:
SP_monthly_return

Date
2011-05-31    0.000000
2011-06-30   -0.018257
2011-07-31   -0.021474
2011-08-31   -0.056791
2011-09-30   -0.071762
                ...
2020-12-31    0.037121
2021-01-31   -0.011137
2021-02-28    0.026091
2021-03-31    0.042439
2021-04-30    0.060052
Freq: M, Name: Adj Close, Length: 120, dtype: float64

In [35]:
frame = pd.DataFrame(profits)

In [36]:
frame['S_P500'] = SP_monthly_return.values

In [39]:
frame['excess'] = frame.iloc[:,0] - frame.iloc[:,1]

In [40]:
frame['outperformed'] = ['Yes' if i > 0 else 'No' for i in frame.excess]

In [41]:
frame

            0    S_P500    excess outperformed
0    0.018539  0.000000  0.018539          Yes
1   -0.005865 -0.018257  0.012393          Yes
2   -0.026081 -0.021474 -0.004606           No
3   -0.072556 -0.056791 -0.015765           No
4   -0.066430 -0.071762  0.005332          Yes
..        ...       ...       ...          ...
115  0.004173  0.037121 -0.032949           No
116 -0.096358 -0.011137 -0.085221           No
117 -0.065473  0.026091 -0.091565           No
118  0.019203  0.042439 -0.023236           No
119  0.008171  0.060052 -0.051881           No

[120 rows x 4 columns]

In [42]:
frame[frame.outperformed == "Yes"].shape

(47, 4)

In [43]:
frame.shape

(120, 4)

In [44]:
47/120

0.39166666666666666